/**
 * The main (green) colour scheme.
 */

/* Main colour - Light */
$primary_colour: #E9F7CC;

 /* Header colour - Slightly Darker */
$header_colour: #D3F78A;

/* Secondary colour - used on tabs - Slightly Darker still */
$secondary_colour: #BFE76F;